<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Custom API</h1>
  <h3>/search/movie/info</h3>
  <ul>
    <li>
      <span>Request</span>
      <ul>
        <li>title</li>
        <li>dirs : "name1|name2|name3"</li>
      </ul>
    </li>
    <li>
      <span>Response</span>
      <ul>
        <li>result</li>
        <li>
          <span>data</span>
          <ul>
            <li>posterSrc</li>
            <li>summary1</li>
            <li>summary2</li>
            <li>score</li>
            <li>images</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <h3>/search/movie/poster</h3>
  <ul>
    <li>
      <span>Request</span>
      <ul>
        <li>title</li>
        <li>dirs : "name1|name2|name3"</li>
      </ul>
    </li>
    <li>
      <span>Response</span>
      <ul>
        <li>result</li>
        <li>
          <span>data</span>
          <ul>
            <li>posterSrc</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>