<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Custom API</h1>

  <h2>/boxoffice/daily</h2>
  <ul>
    <li>
      <span>Request</span>
      <ul>
        <li>targetDt</li>
      </ul>
    </li>
    <li>
      <span>Response</span>
      <ul>
        <li>status</li>
        <li>showRange</li>
        <li>
          dailyBoxOfficeList
          <ul>
            <li>...</li>
            <li>poster</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h2>/boxoffice/weekly</h2>
  <ul>
    <li>
      <span>Request</span>
      <ul>
        <li>targetDt</li>
      </ul>
    </li>
    <li>
      <span>Response</span>
      <ul>
        <li>status</li>
        <li>showRange</li>
        <li>yearWeekTime</li>
        <li>
          weeklyBoxOfficeList
          <ul>
            <li>...</li>
            <li>poster</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h2>/movie/list</h2>
  <ul>
    <li>
      <span>Request</span>
      <ul>
        <li>movieNm</li>
        <li>curPage</li>
      </ul>
    </li>
    <li>
      <span>Response</span>
      <ul>
        <li>status</li>
        <li>curPage</li>
        <li>totPage</li>
        <li>totCnt</li>
        <li>
          movieList
          <ul>
            <li>...</li>
            <li>poster</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h2>/movie/info</h2>
  <ul>
    <li>
      <span>Request</span>
      <ul>
        <li>movieCd</li>
      </ul>
    </li>
    <li>
      <span>Response</span>
      <ul>
        <li>status</li>
        <li>
          movieInfo
          <ul>
            <li>...</li>
            <li>posterSrc</li>
            <li>summary1</li>
            <li>summary2</li>
            <li>score</li>
            <li>images</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>